<div class="list-card-container">
    <div class="list-card">
        <div class="list-card-heading col-xs-12">
            
                <span class="list-card-title">{{item.title}}</span>
            
                <span class="list-card-expand-button">
                    <span ng-show="!item.expanded" ng-click="item.expanded=true" class="glyphicon glyphicon-plus"></span>
                    <span ng-show="item.expanded" ng-click="item.expanded=false" class="glyphicon glyphicon-minus"></span>
                </span>
            
        </div>
        <div class="col-xs-12 list-card-image">
            <div class="cardImage" style="background-image: url('{{item.photo || '/Content/images/no-image.jpg'}}')"></div>
        </div>
        <div class="col-xs-12 list-card-info">
            <h5>{{item.price}}</h5>
            
        </div>
        <div class="col-xs-12 list-card-button" ng-show="item.expanded">
            <div>{{item.details}}</div>
        </div>
    </div>
</div>

