@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is simply a demonstration of ability and initiative, in the hopes of gaining employment with Wakefern.</p>
 